{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="width: fit-content; margin-top: 4%">
    <div class="card text-center">
        <div class="card-header" style="background-color: darkseagreen">
            <h2>Inserisci le informazioni della tuo farmaco</h2>
        </div>
        <div class="card-body">
            <form name="ins_box_form" style="margin-top: 2%" method="POST" role="form">
                <h4>
                <label for="name">Nome</label>
                <br>
                <input type="text" name="nome" class="form-control" required placeholder="nome box">
                <br>
                <label for="name">Tipologia</label>
                <br>
                <input type="text" name="tipologia" class="form-control" required placeholder="tipologia">
                <br>
                <label for="name">Tempo</label>
                <br>
                <input type="int" name="tempoElaborazione" class="form-control" required placeholder="Tempo Elaborazione">
                <br>
                
                </h4>
                <input type="submit" value="Carica il tuo farmaco" class="btn btn-outline-success btn-lg">
                <br>
            </form>
        </div>
    </div>
</div>
<hr>
{% for farmaco in farmaci %}
    <div class="todo">
    <!--Fetching a todo-->
    <p> {{ farmaco['nome'] }} 
        <i>({{ farmaco['tipologia'] }})</i> 
        <i>({{ farmaco['tempoElaborazione'] }})</i> 
    </p>
{% endfor %}

{% endblock %}